@media only screen and (min-width : 320px) {
    .bf-title {
        color: #FFFFFF;
        font-size: 20px;
        text-align: center;
    }

    label {
        color: #FFFFFF;
    }

    input, select {
        width: 100%;
    }

    input {
        height: 38px;
        padding: 6px 10px;
        background-color: #fff;
        border: 1px solid #D1D1D1;
        border-radius: 4px;
        box-shadow: none;
        box-sizing: border-box;
    }

    .booking-form > div {
        max-width: 500px;
        margin: 0 auto;
    }

    .payment-method-list {
        list-style: none;
    }

    .pmethod.active {
        border-bottom: 2px solid #FFF;
    }

    .pmethod {
        display: inline-block;
        cursor: pointer;
    }

    .pmethod > img {
        width: 100px;
        height: 100px; 
        padding: 10px;
        margin: 10px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .booking-form > div {
        max-width: 500px;
        margin: 0 auto;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .booking-form > div {
        max-width: 500px;
        margin: 0 auto;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

